[Unit]
Description=Load kdump kernel early on startup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/lib/kdump/load.sh --shrink
ExecStop=/usr/lib/kdump/unload.sh
RemainAfterExit=true
# It is OK if the initrd is missing in this early attempt
SuccessExitStatus=6

[Install]
WantedBy=multi-user.target
