[Unit]
Description=Load kdump kernel and initrd
After=local-fs.target network.service YaST2-Second-Stage.service YaST2-Firstboot.service

[Service]
Type=oneshot
ExecStart=/lib/kdump/load.sh --update
ExecStartPost=-/usr/bin/cp /usr/lib/kdump/70-kdump.rules /run/udev/rules.d/70-kdump.rules
ExecStopPost=-/usr/bin/rm -f /run/udev/rules.d/70-kdump.rules
ExecStop=/lib/kdump/unload.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
Also=kdump-early.service
