[Unit]
Description=Load kdump kernel and initrd
After=local-fs.target network.service YaST2-Second-Stage.service YaST2-Firstboot.service kdump-early.service
Wants=kdump-commandline.service

[Service]
Type=oneshot
ExecStart=/usr/lib/kdump/load.sh --update
ExecStop=/usr/lib/kdump/unload.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
Also=kdump-early.service
Also=kdump-notify.service
Also=kdump-commandline.service
