[Unit]
Description=Send e-mail notifications for new crash dumps
After=local-fs.target network.target 

[Service]
Type=simple
ExecStart=/usr/lib/kdump/kdump-notify

[Install]
WantedBy=multi-user.target
