# editor-generatd files
*.swp
*~

# the build system
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
config.h
DartConfiguration.tcl

CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/

CTestTestfile.cmake
Testing/

# convenience libraries
*.a

# resulting binaries
calibrate/mkelfcorehdr
calibrate/trackrss
init/device-timeout-generator
init/init-fadump
kdumptool/kdumptool
kdumptool/kdump-save
kdumptool/testcanonical
kdumptool/testconfig
kdumptool/testio
kdumptool/testkconfig
kdumptool/testlistdir
kdumptool/testmail
kdumptool/testprocess
kdumptool/testreadlink
kdumptool/testsftppacket
kdumptool/teststringutil
kdumptool/testurldecode
kdumptool/testurlparser

# generated documentation
doc/man/*.txt
doc/man/*.[1-8].gz
*.html

# release packages
/kdump-*.tar.bz2

# other
/sysconfig.kdump
/70-kdump.rules
build/
tests/data/tmp/
